// Passing this file to tlek (https://github.com/jonathansharman/tlek) generates
// valid random Najan words.
(
	collapse_duplicates: false,
	start: ["Onset", "Nucleus", "Coda"],
	rules: {
		"Onset": {
			["Glide"]: 4,
			["Liquid"]: 2,
			["Nasal"]: 6,
			["Nasal", "Glide"]: 1,
			["VoicelessOnset"]: 24,
			["VoicedOnset"]: 24,
		},
		"Nucleus": {["Vowel"]: 1},
		"Coda": {
			[]: 25,
			["Glide"]: 8,
			["Liquid"]: 4,
			["Nasal"]: 12,
			["Glide", "Liquid"]: 2,
			["Glide", "Nasal"]: 3,
			["Liquid", "Nasal"]: 1,
			["VoicelessCoda"]: 30,
			["VoicedCoda"]: 30,
		},
		"VoicedOnset": {
			["VoicedTap"]: 2,
			["VoicedFricative"]: 14,
			["VoicedFricative", "Glide"]: 4,
			["VoicedFricative", "VoicedTap"]: 2,
			["VoicedFricative", "Liquid"]: 2,
			["VoicedPlosive"]: 8,
			["VoicedPlosive", "Glide"]: 3,
			["VoicedPlosive", "VoicedTap"]: 2,
			["VoicedPlosiveLiquid"]: 2,
			["VoicedAffricate"]: 6,
			["VoicedPlosiveFricative"]: 6,
		},
		"VoicelessOnset": {
			["VoicelessTap"]: 2,
			["VoicelessFricative"]: 14,
			["VoicelessFricative", "Glide"]: 4,
			["VoicelessFricative", "VoicelessTap"]: 2,
			["VoicelessFricative", "Liquid"]: 2,
			["VoicelessPlosive"]: 8,
			["VoicelessPlosive", "Glide"]: 3,
			["VoicelessPlosive", "VoicelessTap"]: 2,
			["VoicelessPlosiveLiquid"]: 2,
			["VoicelessAffricate"]: 6,
			["VoicelessPlosiveFricative"]: 6,
		},
		"VoicedCoda": {
			["Glide", "VoicedTap"]: 1,
			["Glide", "VoicedFricative"]: 5,
			["Glide", "VoicedPlosive"]: 3,
			["VoicedTap"]: 2,
			["Liquid", "VoicedFricative"]: 3,
			["Liquid", "VoicedPlosive"]: 2,
			["VoicedNasalPlosive"]: 12,
			["VoicedFricative"]: 14,
			["VoicedFricativePlosive"]: 8,
			["VoicedPlosive"]: 11,
			["VoicedAffricate"]: 8,
			["VoicedPlosiveFricative"]: 8,
		},
		"VoicelessCoda": {
			["Glide", "VoicelessTap"]: 1,
			["Glide", "VoicelessFricative"]: 5,
			["Glide", "VoicelessPlosive"]: 3,
			["VoicelessTap"]: 2,
			["Liquid", "VoicelessFricative"]: 3,
			["Liquid", "VoicelessPlosive"]: 2,
			["VoicelessNasalPlosive"]: 12,
			["VoicelessFricative"]: 14,
			["VoicelessFricativePlosive"]: 8,
			["VoicelessPlosive"]: 11,
			["VoicelessAffricate"]: 8,
			["VoicelessPlosiveFricative"]: 8,
		},
		"Vowel": {
			["ʊ"]: 5,
			["a"]: 5,
			["e"]: 5,
			["ɪ"]: 5,
			["i"]: 4,
			["u"]: 3,
			["o"]: 4,
		},
		"Glide": {
			["y"]: 3,
			["w"]: 2,
		},
		"VoicedTap": { ["r"]: 1 },
		"VoicelessTap": { ["x"]: 1 },
		"Liquid": { ["l"]: 1 },
		"Nasal": {
			["ŋ"]: 3,
			["n"]: 5,
			["m"]: 4,
		},
		"VoicedFricative": {
			["q"]: 3,
			["z"]: 5,
			["j"]: 7,
			["ð"]: 8,
			["v"]: 6,
		},
		"VoicelessFricative": {
			["h"]: 3,
			["s"]: 5,
			["c"]: 7,
			["θ"]: 8,
			["f"]: 6,
		},
		"VoicedPlosive": {
			["g"]: 6,
			["d"]: 5,
			["b"]: 3,
		},
		"VoicelessPlosive": {
			["k"]: 6,
			["t"]: 5,
			["p"]: 3,
		},
		// Nasal-plosive clusters must have a single point of articulation.
		"VoicedNasalPlosive": {
			["ŋ", "g"]: 6,
			["n", "d"]: 5,
			["m", "b"]: 3,
		},
		"VoicelessNasalPlosive": {
			["ŋ", "k"]: 6,
			["n", "t"]: 5,
			["m", "p"]: 3,
		},
		// Fricative-plosive weight = fricative weight * plosive weight. The
		// clusters ⟨qd⟩, ⟨qb⟩, ⟨ht⟩, and ⟨hp⟩ are not allowed.
		"VoicedFricativePlosive": {
			["q", "g"]: 18,
			["z", "g"]: 30,
			["j", "g"]: 42,
			["ð", "g"]: 48,
			["v", "g"]: 36,
			["z", "d"]: 25,
			["j", "d"]: 35,
			["ð", "d"]: 40,
			["v", "d"]: 30,
			["z", "b"]: 15,
			["j", "b"]: 21,
			["ð", "b"]: 24,
			["v", "b"]: 18,
		},
		"VoicelessFricativePlosive": {
			["x", "k"]: 18,
			["s", "k"]: 30,
			["c", "k"]: 42,
			["θ", "k"]: 48,
			["f", "k"]: 36,
			["s", "t"]: 25,
			["c", "t"]: 35,
			["θ", "t"]: 40,
			["f", "t"]: 30,
			["s", "p"]: 15,
			["c", "p"]: 21,
			["θ", "p"]: 24,
			["f", "p"]: 18,
		},
		"VoicedPlosiveLiquid": {
			["g", "l"]: 2,
			["b", "l"]: 1,
		},
		"VoicelessPlosiveLiquid": {
			["k", "l"]: 2,
			["p", "l"]: 1,
		},
		"VoicedAffricate": {
			["g", "q"]: 4,
			["d", "z"]: 6,
			["d", "j"]: 7,
			["d", "ð"]: 5,
			["d", "l"]: 4,
		},
		"VoicelessAffricate": {
			["k", "h"]: 4,
			["t", "s"]: 6,
			["t", "c"]: 7,
			["t", "θ"]: 5,
			["t", "l"]: 4,
		},
		// Non-affricate plosive-fricative weight = plosive weight * fricative
		// weight. The clusters ⟨dq⟩, ⟨bq⟩, ⟨th⟩, and ⟨ph⟩ are not allowed.
		"VoicedPlosiveFricative": {
			["g", "z"]: 30,
			["g", "j"]: 36,
			["g", "ð"]: 48,
			["g", "v"]: 36,
			["d", "v"]: 30,
			["b", "z"]: 15,
			["b", "j"]: 21,
			["b", "ð"]: 24,
			["b", "v"]: 18,
		},
		"VoicelessPlosiveFricative": {
			["k", "s"]: 30,
			["k", "c"]: 36,
			["k", "θ"]: 48,
			["k", "f"]: 36,
			["t", "f"]: 30,
			["p", "s"]: 15,
			["p", "c"]: 21,
			["p", "θ"]: 24,
			["p", "f"]: 18,
		},
	},
)
