// Passing this file to tlek (https://github.com/jonathansharman/tlek) generates
// random valid Najan words.
(
	collapse_duplicates: false,
	start: ["Onset", "NucleusCoda"],
	rules: {
		"Onset": {
			["VoicelessOnset"]: 24,
			["VoicedOnset"]: 24,
			["N"]: 6,
			["L"]: 2,
			["G"]: 4,
		},
		"NucleusCoda": {
			["PeripheralV", "PeripheralCoda"]: 5,
			["MidCentralV", "MidCentralCoda"]: 3,
		},
		"VoicelessOnset": {
			["VoicelessAffricate"]: 6,
			["VoicelessPF"]: 6,
			["VoicelessPL"]: 2,
			["VoicelessP", "VoicelessTap"]: 2,
			["VoicelessP", "G"]: 3,
			["VoicelessP"]: 8,
			["VoicelessF", "L"]: 2,
			["VoicelessF", "VoicelessTap"]: 2,
			["VoicelessF", "G"]: 4,
			["VoicelessF"]: 14,
			["VoicelessTap"]: 2,
		},
		"VoicedOnset": {
			["VoicedAffricate"]: 6,
			["VoicedPF"]: 6,
			["VoicedPL"]: 2,
			["VoicedP", "VoicedTap"]: 2,
			["VoicedP", "G"]: 3,
			["VoicedP"]: 8,
			["VoicedF", "L"]: 2,
			["VoicedF", "VoicedTap"]: 2,
			["VoicedF", "G"]: 4,
			["VoicedF"]: 14,
			["VoicedTap"]: 2,
		},
		"N": {
			["ŋ"]: 3,
			["n"]: 5,
			["m"]: 4,
		},
		"L": { ["l"]: 1 },
		"G": {
			["y"]: 3,
			["w"]: 2,
		},
		"PeripheralV": {
			["a"]: 5,
			["e"]: 5,
			["i"]: 4,
			["u"]: 3,
			["o"]: 4,
		},
		"PeripheralCoda": {
			["PeripheralVoicelessCoda"]: 15,
			["PeripheralVoicedCoda"]: 15,
			["N"]: 6,
			["L"]: 2,
			["G"]: 4,
		},
		"MidCentralV": {
			["ə"]: 5,
			["ʊ"]: 5,
			["ɪ"]: 5,
		},
		"MidCentralCoda": {
			[]: 14,
			["N"]: 6,
			["L"]: 2,
			["VoicelessTap"]: 1,
			["VoicedTap"]: 1,
			["G"]: 4,
		},
		"VoicelessAffricate": {
			["k", "h"]: 4,
			["t", "s"]: 6,
			["t", "c"]: 7,
			["t", "θ"]: 5,
			["t", "l"]: 4,
		},
		// Non-affricate plosive-fricative weight = plosive weight * fricative
		// weight. The clusters ⟨dq⟩, ⟨bq⟩, ⟨th⟩, and ⟨ph⟩ are not allowed.
		"VoicelessPF": {
			["k", "s"]: 30,
			["k", "c"]: 36,
			["k", "θ"]: 48,
			["k", "f"]: 36,
			["t", "f"]: 30,
			["p", "s"]: 15,
			["p", "c"]: 21,
			["p", "θ"]: 24,
			["p", "f"]: 18,
		},
		"VoicelessPL": {
			["k", "l"]: 2,
			["p", "l"]: 1,
		},
		"VoicelessP": {
			["k"]: 6,
			["t"]: 5,
			["p"]: 3,
		},
		"VoicelessF": {
			["h"]: 3,
			["s"]: 5,
			["c"]: 7,
			["θ"]: 8,
			["f"]: 6,
		},
		"VoicelessTap": { ["x"]: 1 },
		"VoicedAffricate": {
			["g", "q"]: 4,
			["d", "z"]: 6,
			["d", "j"]: 7,
			["d", "ð"]: 5,
			["d", "l"]: 4,
		},
		"VoicedPF": {
			["g", "z"]: 30,
			["g", "j"]: 36,
			["g", "ð"]: 48,
			["g", "v"]: 36,
			["d", "v"]: 30,
			["b", "z"]: 15,
			["b", "j"]: 21,
			["b", "ð"]: 24,
			["b", "v"]: 18,
		},
		"VoicedPL": {
			["g", "l"]: 2,
			["b", "l"]: 1,
		},
		"VoicedP": {
			["g"]: 6,
			["d"]: 5,
			["b"]: 3,
		},
		"VoicedTap": { ["r"]: 1 },
		"VoicedF": {
			["q"]: 3,
			["z"]: 5,
			["j"]: 7,
			["ð"]: 8,
			["v"]: 6,
		},
		"PeripheralVoicelessCoda": {
			["VoicelessP"]: 11,
			["VoicelessF"]: 14,
			["VoicelessTap"]: 2,
		},
		"PeripheralVoicedCoda": {
			["VoicedP"]: 11,
			["VoicedF"]: 14,
			["VoicedTap"]: 2,
		},
	},
)
