@font-face {
	font-family: Najan;
	src: url('../Najan.ttf');
}

naj {
	font-family: Najan;
}

naj-xxl {
	font-family: Najan;
	font-size: xx-large;
}

lhs {
	display: inline-block;
	width: 180px;
	text-align: right;
}

div.caption {
	margin: auto;
	text-align: center;
	width: 50%;
	padding: 10px;
	font-weight: bold;
	font-size: large;
}

table.gloss td {
	padding: 2pt 5pt;
}